<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Мой проект:Спортивное питание</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "assets/general.css" %}">
    <link rel="stylesheet" href="{% static "assets/navigate.css" %}">
    <link rel="stylesheet" href="{% static "assets/flexbox.css" %}">
    <link rel="stylesheet" href="{% static "assets/modal.css" %}">
    <link rel="stylesheet" href="{% static "assets/inputs.css" %}">
    <link rel="stylesheet" href="{% static "assets/tablewithbg.css" %}">
    <link rel="stylesheet" href="{% static "assets/podcast.css" %}">

 
    <script name="for_modlas">



        /*
         показываем модальный div c большой картинкой
        */ 
        function showDivWithExpandImage(imgElemFromCatalog)
        {

            document.getElementById("imageBig").src = imgElemFromCatalog.src;
            document.getElementById("divModalImage").style.display = "block";
        }

        /*
          скрываем div по его ID
        */ 
        function onclickSpanToHideCurentDiv(visibled_divID)
        {
            document.getElementById(visibled_divID).style.display = "none";
        }



        /*
         показываем модальный div c формой регистарации 
        */ 
        function showDivWithForm()
        {
            document.getElementById("divModalUser").style.display = "block";
        }


        
        /*
         отправляем форму регистарации 
        */ 
        function submitForm()
        {
            //текущая дата
            const today = new Date(Date.now());
            // устанавливаем для hidden элеимента
            document.getElementById('data').value = today.toLocaleDateString();
            document.getElementById("formForUserReg").submit();
            // скрываем форму
            document.getElementById("divModalImage").style.display = "block";
        }



    </script>

</head>

<body onload="">

    <!-------------------------------------------------------------------------------------------------------------------------------
        Наивгационное меню состоящие из элеиентов списка, основные стили в navigate.css, general.css
    ------------------------------------------------------------------------------------------------------------------------------->
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
            <ul class="menu-items">
                <li><a href="/">Главная страница</a></li>
                <li><a href="catalog">Продукция</a></li>
                <li><a href="podcats">Подкасты</a></li>
                <li class="screen-link-active"><a href="articles">Статьи</a></li>
                <li><a href="surv">Анкета</a></li>
                 <li class="other_menu"><a href="http://sportwiki.to/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:%D0%9F%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%B4%D0%B8%D0%B5%D1%82%D1%8B"
                        target="_blank">SportWiki</a></li>
                        <li><a href="mystuds">ВШЭ</a></li>      
            </ul>
        </div>
    </nav>


     <!-------------------------------------------------------------------------------------------------------------------------------
        Пустая секция чтобы отсупить от верхнего края страниц и не быть перекрытым fixed-nav-bar c большим zindex
    ------------------------------------------------------------------------------------------------------------------------------->
    <section class="contentempy">

    </section>

      
     <!-------------------------------------------------------------------------------------------------------------------------------
        Секция меню article, основные стили в tablewithbg.css
    ------------------------------------------------------------------------------------------------------------------------------->

    <section class="sectionblock" id="sec_article">
        <h1>Советы по питанию от Арнольда Шварценеггера</h1>

        <table class="articletable">
            <tr>
                <td colspan="2">
                    Каждый человек мечтает стать лучше: выносливее, сильнее, умнее и т.д. В современном мире всё больше
                    начинает набирать обороты идеология ЗОЖ, что не может не радовать, подростки начинают соревноваться
                    тем, кто больше сделает отжиманий или подтягиваний. Люди начинают воспитывать в себе чемпиона. Одним
                    из тех, кому чересчур удалось это сделать является Арнольд Шварценеггер — известный актёр,
                    спортсмен, политик. Но людям он запомнился больше всего как спортсмен, несмотря на его
                    многогранность и всестороннюю развитость. Арнольд Шварценеггер всегда стремился к лучшим результатам
                    во всех сферах жизни, будь то спорт, кинематограф или политика. Везде он стремился быть первым
                    (лучшим из лучших). Успешным бодибилдером он стал, потому что соблюдал три основы (базиса)
                    спортсмена: сон, правильное питание и регулярные тренировки. Не скрывает он и того, что употреблял
                    стероиды, в те годы многие вещества такие как допинг не были под запретом, а массово запрещать их
                    оборот начали в 90-х годах. На данный момент всё больше и больше вводятся законов, касаемо
                    запрещённых веществ.
                    Итак, следует рассмотреть советы по питанию от Арнольда Шварценеггера:
                    Делайте акцент на белке — Белок является строительным элементом для наших мышц, без белка не будут
                    расти мышцы. Когда Арнольд готовился к важным соревнованиям он постоянно употреблял белок, всегда
                    удовлетворял суточную потребность белка, и никогда не был голодным. Рассчитать сколько надо белка
                    очень просто: 1 грамм белка на 450 фунт твоего веса. Получается, около 2 грамм белка на кг веса.
                    Пей витаминные комплексы — Люди, занимающиеся спортом нужно большее количество витаминов и
                    минералов, обычные витамины, можно найти в любой аптеке.
                    Не ешь сахар — Точнее сократи употребление сахара. Сахара должно быть 10% от дневной нормы. То есть,
                    если человек потребляет 2000 калорий то ему нужно до 52 грамм сахара (ВОЗ рекомендует употреблять в
                    два раза меньше. Арнольд считал, что причиной ожирения является отсутствие физических нагрузок и
                    сахар. На полках магазина очень много продуктов, в которые очень много впихивают фруктозу,
                    мальтодекстрин и сахарозу.
                    Ешь больше — Для набора массы нужно больше есть. Если диета сбалансирована, но масса не набирается,
                    нужно употреблять дополнительные перекусы в 300-350 ккал. Проще получить такие калории из
                    протеиновых коктейлей. Тем более, что в таком виде белок усваивается лучше, чем в твёрдом.
                </td>
            </tr>
            <tr>
                <td><strong> Завтрак</strong></td>
                <td>
                    <ul>
                        <li>3 омлета</li>
                        <li>1 чашка приготовленной овсянки</li>
                        <li>1 стакан апельсинового сока</li>
                        <li>1 чашка нежирного молока</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Обед</strong></td>
                <td>
                    <ul>
                        <li>2 ломтика цельнозернового хлеба</li>
                        <li>1 вареная куриная грудка, без кожи (для сэндвича)</li>
                        <li>1 яблоко</li>
                        <li>1 чашка нежирного молока</li>
                    </ul>
                </td>
            </tr>
            <td><strong>После тренировки</strong></td>
            <td>
                <ul>
                    <li>25г молочного белкае</li>
                    <li>25г яичного белка</li>
                    <li>250-350 мл обезжиренного молока</li>
                    <li>смешать вместе и пить после тренировкиа</li>
                </ul>
            </td>
            </tr>
            <tr>
                <td><strong>Ужин</strong></td>
                <td>
                    <ul>
                        <li>225 г постного мяса на гриле</li>
                        <li>1 большой печеный картофель</li>
                        <li>1 большой салат с зеленью и овощами</li>
                        <li>1 ст. л. заправки для салата</li>
                        <li>1 чашка смешанных вареных овощей</li>
                    </ul>
                </td>
            </tr>
        </table>

    </section>








</body>

</html>