<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Мой проект:Спортивное питание</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "assets/general.css" %}">
    <link rel="stylesheet" href="{% static "assets/navigate.css" %}">
    <link rel="stylesheet" href="{% static "assets/flexbox.css" %}">
    <link rel="stylesheet" href="{% static "assets/modal.css" %}">
    <link rel="stylesheet" href="{% static "assets/inputs.css" %}">
    <link rel="stylesheet" href="{% static "assets/tablewithbg.css" %}">
    <link rel="stylesheet" href="{% static "assets/podcast.css" %}">

 
    <script name="for_modlas">


        /*
         показываем модальный div c формой регистарации 
        */ 
        function showDivWithForm()
        {
            document.getElementById("divModalUser").style.display = "block";
        }


        // скрываем div по его ID

        function onclickSpanToHideCurentDiv(visibled_divID)
        {
            document.getElementById(visibled_divID).style.display = "none";
        }



        
        /*
         отправляем форму регистарации 
        */ 
    
        function submitForm()
        {
            //текущая дата
            const today = new Date(Date.now());
            // устанавливаем для hidden элеимента
            document.getElementById('date').value = today.toLocaleDateString();
            document.getElementById("formForUserReg").submit();
            // скрываем форму
            document.getElementById("divModalImage").style.display = "block";
        }



    </script>

</head>

<body onload="">

    <!-------------------------------------------------------------------------------------------------------------------------------
        Наивгационное меню состоящие из элеиентов списка, основные стили в navigate.css, general.css
    ------------------------------------------------------------------------------------------------------------------------------->
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
            <ul class="menu-items">
                <li class="screen-link-active"><a href="/myapp">Главная страница</a></li>
                <li><a href="catalog">Продукция</a></li>
                <li><a href="podcats">Подкасты</a></li>
                <li><a href="articles">Статьи</a></li>
                <li><a href="surv">Анкета</a></li>
                 <li class="other_menu"><a href="http://sportwiki.to/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:%D0%9F%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%B4%D0%B8%D0%B5%D1%82%D1%8B"
                        target="_blank">SportWiki</a></li>
            </ul>
        </div>
    </nav>


    
    <!-------------------------------------------------------------------------------------------------------------------------------
        Основной банер страницы, основные стили в navigate.css, general.css
     ------------------------------------------------------------------------------------------------------------------------------->
    <section class="content">
        <div class="description">
            <h1>Спортивное питание</h1>
            <p class="summary">
                За последние несколько лет идеи здорового образа жизни, красивого тела и ухода за собой стали
                неимоверно популярны. Многие из нас давно исключили из рациона фастфуд, трансжиры, сахар и без устали
                потеют в
                спортзале. Если ты уже давно встал на путь ПП и ЗОЖ, а может только присматриваешься к этим новым
                тенденция, данныый сайт точно будет тебе полезен.Сбалансированное питание, правильное соотношение КБЖУ,
                достаточное
                количество витаминов и аминокислот в организме, физическая активность – вот залог успеха.
            </p>
            <a class="button" href="javascript:void(0);" onclick="showDivWithForm()" href="surv">Подпишись</a>
            <a class="button" href="calc">Рассчитай каллории</a>
        </div>
    </section>

    <!-------------------------------------------------------------------------------------------------------------------------------
        Секция меню HOME , основные стили в general.css
    ------------------------------------------------------------------------------------------------------------------------------->

    <section class="sectionblock" id="sec_home">
        <h1>
            Основные компоненты спортивного питания
        </h1>
        <div class="contentslist">
            <!---------- ссылкаи на внутренее содержание -->
            <ol>
                <li><a href="#href1">Сывороточный протеин </a></li>
                <li><a href="#href2">Казеиновый протеин</a></li>
                <li><a href="#href3">BCAA</a></li>
                <li><a href="#href4">Коллаген</a></li>
                <li><a href="#href5">L-карнитин</a></li>
                <li><a href="#href6">L-глютамин</a></li>
                <li><a href="#href7">Креатин</a></li>
                <li><a href="#href8">Подсластители</a>
                    <ul>
                        <li><a href="#href9">Сукралоза</a></li>
                        <li><a href="#href10">Стевия</a></li>
                    </ul>
                </li>

            </ol>
        </div>
        <a name="href1"></a>
        <h3> Сывороточный протеин</h3>
        <p>Протеин можно назвать основным помощником любого спортсмена. Протеин – это одна из самых важных
            спортивных добавок, он одинаково полезен для людей с разными целями. Протеин позволит эффективно
            наращивать мышечную массу и уровень силовых показателей. Будет способствовать жиросжиганию и
            достижению
            требуемого рельефа тела.
            Протеин бывает нескольких типов: молочные протеины - сывороточный и казеиновый, яичный протеин и
            растительные протеины. Как выбрать протеин вы можете почитать здесь.
            Наиболее популярными являются молочные протеины.
            Сывороточный («быстрый протеин») довольно быстро усваивается организмом. Если ты только начинаешь
            свой
            спортивный путь, то сывороточный протеин, несомненно, должен оказаться в твоём рационе. Он станет
            твоим
            незаменимым помощником как в похудении, так и наращивании мускулатуры.
        </p>
        <a name="href2"></a>
        <h3>Казеиновый протеин</h3>
        <p>
            Казеиновый «долгий» протеин – усваивается организмом более длительное время, поэтому хорошо подходит
            для
            приема перед сном. Скорость усвоения этого протеина человеческим организмом – 6-8 часов, в течение
            которых его аминокислоты, медленно высвобождаясь, попадают в кровь и снабжают мышцы и другие ткани
            организма строительным материалом. Медленная усвояемость
        </p>
        <a name="href3"></a>
        <h3>BCAA</h3>
        <p>
            Аминокислоты являются строительным материалом для всех белков в организме, из которых образуются
            мышцы,
            сухожилия, связки, кожа, волосы. Аминокислоты помогают быстро восстановиться и уменьшить боль в
            мышцах
            после интенсивных тренировок. Если вы не получаете достаточное количество аминокислот в своём
            рационе,
            ваш организм не сможет получать максимум пользы от потребления белка. Аминокислоты можно принимать
            как
            при наборе массы, так и при «сушке».
            BCAA ( Branched-Сhain Amino Acids ) - аминокислоты с разветвленными боковыми цепочками. Комплекс
            незаменимых аминокислот, содержащий в своем составе L-Лейцин, L-Изолейцин и L-Валин в соотношении
            2:1:1.
            Эти аминокислоты считаются незаменимыми, так как не синтезируются в организме человека и могут быть
            получены только из внешних источников. Они являются строительными блоками протеина, образующего
            структуру новой мышечной ткани. BCAA снижает катаболические процессы. Кроме того, их прием после
            тренировки поможет улучшить восстановление. BCAA рекомендуется принимать, чтобы терять гораздо
            меньше
            мышц в «жиросжигательный» период или период, направленный на развитие выносливости.
        </p><a name="href4"></a>
        <h3>Коллаген</h3>
        <p>
            Коллаген — это белок, который содержится во всех тканях нашего организма. Он обеспечивает упругость
            и
            эластичность тканей хрящей, суставов, костей, слизистых и т.д. Коллаген является основным
            структурным
            компонентом формирования соединительной ткани, именно благодаря ему ткани нашего тела приобретают
            эластичность. Также коллаген сохраняет клетки тканей сильными и целостными.
            Синтез коллагена в организме зависит от наличия в нем достаточного количества витамина С. Если ты
            потребляешь не достаточное количество витамина С, не отчаивайся, специально для тебя мы создали
            продукт
            Коллаген с витамином С. Этот продукт обеспечит твой организм достаточным количеством Витамина С и
            усилит
            усвоение коллагена.
            Коллаген рекомендуется к приему всем, кто заботится о здоровье своей кожи, ногтей, волос, о
            состоянии
            своего опорно-двигательного аппарата (суставы, кости, связки, позвоночник) и просто незаменим, если
            ты
            занимаешься спортом, особенно таким как бодибилдинг, пауэрлифтинг, тяжелая атлетика и т. п.
        </p><a name="href5"></a>
        <h3>L-карнитин</h3>
        <p>
            Витаминоподобное природное вещество, которое относят к витаминам группы В. Он образуется в печени и
            почках при участии витаминов группы В, а также метионина и лизина, а хранится преимущественно в
            мышцах и
            мозге. Улучшает метаболизм жиров, а также помогают организму использовать «запасенные» жиры в
            качестве
            источника энергии.

            L-Карнитин облегчает твоему организму доступ к жировым запасам, реально повышает выносливость и
            благотворно влияет на здоровье сердечно-сосудистой системы. Применять карнитин можно как на сушке,
            так и
            при наборе мышечной массы. И если твоя основная задача — это похудение, L-карнитин точно должен
            оказаться на твоей полке.

        </p><a name="href6"></a>
        <h3>L-глютамин</h3>
        <p>
            При больших физических нагрузках запасы глютамина в организме истощаются, а это негативно влияет на
            иммунитет и снижает восстановительные способности.

            Особенно хорошо глютамин помогает справиться с мышечной болью после тренировок. Также глютамин
            способствует выработке гликогена, что позволяет сохранять энергию для тренировок более длительное
            время.

            При приеме глютамина перед сном, усиливается выработка гормона роста, что положительно сказывается
            на
            росте и восстановлении мышц. Таким образом можно сделать вывод, что основная задача глютамина – это
            улучшение восстановления мышц во время и после тренировок.

            Значительная концентрация глютамина находится в мясе, рыбе, яйцах. Если ты вегетарианец или веган,
            добавка L-глютамин идеальный вариант для тебя, чтобы поддерживать достаточную концентрацию данного
            элемента в организме без ущерба твоим убеждениям.
        </p><a name="href7"></a>
        <h3>Креатин</h3>
        <p>
            Креатин моногогидрат - натуральное соединение, вырабатываемое в организме, которое используется для
            создания самой "взрывной" формы энергии - энергии аденозинтрифосфата, АТФ. Принято считать, что
            прием
            креатинсодержащих добавок позволяет увеличивать силовые показатели. Креатин особенно популярен среди
            бодибилдеров, пауэрлифтеров, футболистов, хоккеистов и игроков в регби - тех видов спорта, в которых
            организм работает на коротких взрывных отрезках.

            Креатин моногидрат - это высококачественная добавка к спортивному рациону тех, кто стремится
            улучшить
            физическую производительность при краткосрочных, взрывных нагрузках.
        </p><a name="href8"></a>
        <h3>Подсластители</h3>
        <p>
            Жизнь без рафинированного сахара тоже может быть сладкой. Подсластители бывают как природного
            происхождения, так и синтезированные. Ты сможешь выбрать подсластитель на свой вкус. Читай ниже
            какие
            они бывают.

        </p><a name="href9"></a>
        <h3>Сукралоза</h3>
        <p>
            Сукралоза является синтетическим подсластителем, но абсолютно безопасным. Сукралоза производится из
            сахара, по вкусу практически неотличима от него, она в 600 раз слаще сахара и не обладает
            калорийностью.
            Она может быть использована в абсолютном большинстве продуктов как спортивных (коктейли, десерты),
            так и
            обычных, повседневных (чай, кофе и прочее).
        </p><a name="href10"></a>
        <h3></a>Стевия</h3>
        <p>
            Стевия - это природный заменитель сахара. Листья стевии слаще сахара в несколько десятков раз и ее
            по
            праву можно назвать кладовой здоровья. Растение, ареалом распространения которого были страны Южной
            Америки, сегодня культивируется по всему миру, в том числе и в России. Несколько средних по размеру
            листочков стевии достаточно, чтобы подсластить чашку чая. Широкая популярность сладкой травы стевии
            объясняется содержанием в ее листьях значительного количества витаминов, аминокислот,
            микроэлементов.
            Она оказывает благотворное влияние на сердечно-сосудистую систему; органы пищеварения; печень и
            желчный
            пузырь; иммунную систему; зубы и десны. Недостатком этого натурального продукта является его слегка
            горьковатый привкус.
        </p>
    </section>

    






    <!-------------------------------------------------------------------------------------------------------------------------------
        Скрытие DIVы  display ="none", которые будут показаны в модальном режиме, стили из modal.css и из inputs.css   
    ------------------------------------------------------------------------------------------------------------------------------->


    <!-------------------------------------------------------------------------------------------------------------------------------
        Скрытий DIV  для показа регисстрации пользователя из секции меню    
    ------------------------------------------------------------------------------------------------------------------------------->

    <div id="divModalUser" class="modal">

        <!-- Modal content -->
        <div class="modal-content overcolor">
            <span class="close" onclick="onclickSpanToHideCurentDiv('divModalUser')" >&times;</span>
            <h3>Регистрация</h3>
            <form action="stub.html" id="formForUserReg" class="inputdecoration" method="get" >

                <label for="name">Фамилия</label>
                <input type="text" id="lastname" name="lastname" placeholder="Иванов" />
                <label for="email">Имя</label>
                <input type="text" id="name" name="name" placeholder="Иван" />
                <label for="comments">Телефон</label>
                <input type="tel" id="tel" name="tel" placeholder="+7(...)......" />
                <label for="comments">Почта</label>
                <input type="email" id="email" name="email" placeholder="email" />
                <input type="hidden" id="date" name="date" />

            </form>
            <a class="button-dark button-dark_invert" href="javascript:void(0);" onclick="submitForm();">Подписаться</a>
        </div>

    </div>



</body>

</html>