<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Я и моя образовательня программ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "assets/general.css" %}">
    <link rel="stylesheet" href="{% static "assets/navigate.css" %}">
    <link rel="stylesheet" href="{% static "assets/flexbox.css" %}">
    <link rel="stylesheet" href="{% static "assets/modal.css" %}">
    <link rel="stylesheet" href="{% static "assets/inputs.css" %}">
    <link rel="stylesheet" href="{% static "assets/tablewithbg.css" %}">
    <link rel="stylesheet" href="{% static "assets/podcast.css" %}">

 
    <script src= 
    "{% static "js/jquery.min.js" %}"> 
        </script>


<script> 
//1002. Дано вещественное число. Определить, какое это число: положительное, отрицательное, ноль.
    function task1002()
    {
           
            $.ajax({ 
                url: 'task1002', 
                method: 'GET', 
                data: formData, 
                processData: false, 
                contentType: false, 
                success: function (response) {                       
    
                    var jresponse = JSON.parse(response);
                    showDivWithForm(jresponse.capt,jresponse.text)
                }, 
                error: function (xhr, status, error) {                        
                    showDivWithForm("Error",error)
                } 
            }); 
    }
</script> 



    <script name="for_modlas">



        /*
         показываем модальный div c большой картинкой
        */ 
        function showDivWithExpandImage(imgElemFromCatalog)
        {

            document.getElementById("imageBig").src = imgElemFromCatalog.src;
            document.getElementById("divModalImage").style.display = "block";
        }

        /*
          скрываем div по его ID
        */ 
        function onclickSpanToHideCurentDiv(visibled_divID)
        {
            document.getElementById(visibled_divID).style.display = "none";
        }

        /*
         показываем модальный div c формой регистарации 
        */ 
        function showDivWithForm()
        {
            document.getElementById("divModalUser").style.display = "block";
        }
        /*
         отправляем форму регистарации 
        */ 
        function submitForm()
        {
            //текущая дата
            const today = new Date(Date.now());
            // устанавливаем для hidden элеимента
            document.getElementById('data').value = today.toLocaleDateString();
            document.getElementById("formForUserReg").submit();
            // скрываем форму
            document.getElementById("divModalImage").style.display = "block";
        }



    </script>

</head>

<body onload="">

    <!-------------------------------------------------------------------------------------------------------------------------------
        Наивгационное меню состоящие из элеиентов списка, основные стили в navigate.css, general.css
    ------------------------------------------------------------------------------------------------------------------------------->
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
            <ul class="menu-items">
                <li><a href="/">Главная страница</a></li>
                <li><a href="catalog">Продукция</a></li>
                <li><a href="podcats">Подкасты</a></li>
                <li><a href="articles">Статьи</a></li>
                <li><a href="surv">Анкета</a></li>
                 <li class="other_menu"><a href="http://sportwiki.to/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:%D0%9F%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%B4%D0%B8%D0%B5%D1%82%D1%8B"
                        target="_blank">SportWiki</a></li>
                <li class="screen-link-active"><a href="mystuds">ВШЭ</a></li>        
            </ul>
        </div>
    </nav>


     <!-------------------------------------------------------------------------------------------------------------------------------
        Пустая секция чтобы отсупить от верхнего края страниц и не быть перекрытым fixed-nav-bar c большим zindex
    ------------------------------------------------------------------------------------------------------------------------------->
    <section class="contentempy">

    </section>

      
     <!-------------------------------------------------------------------------------------------------------------------------------
        Секция меню article, основные стили в tablewithbg.css
    ------------------------------------------------------------------------------------------------------------------------------->

    <section class="sectionblock" id="sec_stud">
        <h2>{{descript.prod_name}}</h2>
        <h3>{{descript.prod_desctipr}}</h3>
        <hr/>
        <h2>Люди</h2>
        <div >
            {% for key, value in data.items %}
                <div style="border-top:2px solid rgb(48, 93, 123);"><u>{{ value.label }}</u>
                    <table>
                        
                            <tr><td><b>ФИО:</b>{{ value.details.name }}</td>
                                <td rowspan="3">
                                    <img src="{{value.details.foto_path}}"
                                    alt="фото" width="30%" >
                                </td></tr>
                            <tr><td><b>Email:</b>{{value.details.email}}</td></tr>
                            <tr><td><b>Телефон:</b>{{ value.details.phone }}</td></tr>    
                            
                        
                    </table>
                </div>
            {% endfor %}
        </div>
       



    </section>







</body>

</html>