<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Статистика</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/assets/general.css">
    <link rel="stylesheet" href="static/assets/navigate.css">
    <link rel="stylesheet" href="static/assets/inputs.css">
    <link rel="stylesheet" href="static/assets/survey.css">
    <link rel="stylesheet" href="static/assets/modal.css">

    <style type="text/css">
        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            font-size: small;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #c2ded4
        }
    </style>

    <script src="static/js/jquery.min.js">
    </script>




</head>

<body onload="">

    <!-------------------------------------------------------------------------------------------------------------------------------
        Наивгационное меню состоящие из элеиентов списка, основные стили в navigate.css, general.css
    ------------------------------------------------------------------------------------------------------------------------------->
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
            <ul class="menu-items">
                <li><a href="/">Главная страница</a></li>
                <li><a href="catalog">Продукция</a></li>
                <li><a href="podcats">Подкасты</a></li>
                <li><a href="articles">Статьи</a></li>
                <li><a href="surv">Анкета</a></li>
                <li class="screen-link-active"><a href="stats">Статистика</a></li>
                <li class="other_menu"><a
                        href="http://sportwiki.to/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:%D0%9F%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%B4%D0%B8%D0%B5%D1%82%D1%8B"
                        target="_blank">SportWiki</a></li>
                <li><a href="mystuds">ВШЭ</a></li>
            </ul>
        </div>
    </nav>


    <!-------------------------------------------------------------------------------------------------------------------------------
        Пустая секция чтобы отсупить от верхнего края страниц и не быть перекрытым fixed-nav-bar c большим zindex
    ------------------------------------------------------------------------------------------------------------------------------->
    <section class="contentempy">

    </section>

    <!-------------------------------------------------------------------------------------------------------------------------------
        tablewithbg.css
    ------------------------------------------------------------------------------------------------------------------------------->

    <section class="sectionblock" id="sec_stat">

        <div>
            
            <form  >
                <table><tr><td>
                <h5>Фильтр</h5>
                <div   style="display: flex; font-size: small;" >
                <span style="margin-right: 2px;">
                    Возраст:
                </span><br/>
                <select name="age_case"  style="width: 40px;">
                    <option value="eq"> = </option>
                    <option value="lt"> &lt; </option>
                    <option value="gt"> &gt; </option>
                    <option value="lte"> =&lt; </option>
                    <option value="gte"> &gt;= </option>
                </select>
                <input type="text" name="age_value"  style="width: 60px;margin-right: 10px;" />
                <span style="margin-right: 2px;">
                    Пол:
                </span><br/>
                <select name="sex"  style="width: 100px; margin-right: 10px;">
                    <option value="any"> Любой </option>
                    <option value="М"> М </option>
                    <option value="Ж"> Ж </option>
                </select>
                <span style="margin-right: 2px;">
                    Часть дня:
                </span><br/>
                <select name="partday" >
                    <option value="any">Любая</option>
                    <option value="Все равно">Все равно</option>
                    <option value="Утром">Утром</option>
                    <option value="Днем">Днем</option>
                    <option value="Вечером">Вечером</option>
                    <option value="Ночью">Ночью</option>
                   
                </select>
            </div>
            </td><td>
                <h5>Сортировка</h5>
                <div   style="display: flex; font-size: small;" >
                <span style="margin-right: 2px;">
                    Сортировать:
                </span><br/>
                <select name="sort_case"  style="width: 110px;margin-right: 10px;"">
                    <option value="asc"> Возрастание </option>
                    <option value="desc"> Убывание </option>
                </select>
                <span style="margin-right: 2px;">
                    Колонка:
                </span><br/>
                <select name="sort_value" >
                    
                    <option value="age">Возраст</option>
                    <option value="frequency">Частота</option>
                    <option value="partday">Часть дня</option>
                    <option value="prefsport">Спорт</option>
                    <option value="consume">Спортпит</option>
                    <option value="prodtype">Продукт</option>
                    <option value="bodytype">Телосложение</option>
                    <option value="sex">Пол</option>
                    <option value="email">Email</option>
            

                </select>
            </div>
            </td></tr>
        </table>
        <button type="submit" value="submit" class="button-dark button-dark_invert">
            Применить
        </button>
        
    </form>
        </div>
        
        <div style="overflow: scroll;height: 350px;">
            <table>
                <tr style="background-color: rgb(19, 48, 49);color: aliceblue;">
                    <th>Частота</th>
                    <th>Часть дня</th>            
                    <th>Спорт</th>
                    <th>Спортпит</th>
                    <th>Продукт</th>
                    <th>Телосложение</th>     
                    <th>Пол</th>  
                    <th>Возраст</th>
                    <th>Email</th>
                    <th>Комменты</th>
                </tr>
                {% for row in data %}

                <tr>
                    <td>{{ row.frequency }}</td>
                    <td>{{ row.partday }}</td>            
                    <td>{{ row.prefsport }}</td>
                    <td>{{ row.consume }}</td>
                    <td>{{ row.prodtype }}</td>
                    <td>{{ row.bodytype }}</td>     
                    <td>{{ row.sex }}</td>  
                    <td>{{ row.age }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.comment }}</td>
                </tr>

                {% endfor %}
            </table>

        </div>

    </section>




</body>

</html>